{# C の 構造体出力に特化したテンプレート #}

{% if exists("publicTypes") %}## 型

{% for child in publicTypes %}### {{child.kind}} {{child.name}}

{{ render("member_details", child) }}
{% endfor %}{% endif -%}

{% if exists("protectedTypes") %}## Protected 型

{% for child in protectedTypes %}### {{child.kind}} {{child.name}}

{{ render("member_details", child) }}
{% endfor %}{% endif -%}

{% if exists("publicSlots") %}## スロット

{% for child in publicSlots %}### {{child.name}}

{{ render("member_details", child) }}
{% endfor %}{% endif -%}

{% if exists("protectedSlots") %}## Protected スロット

{% for child in protectedSlots %}### {{child.name}}

{{ render("member_details", child) }}
{% endfor %}{% endif -%}

{% if exists("publicSignals") %}## シグナル

{% for child in publicSignals %}### {{child.name}}

{{ render("member_details", child) }}
{% endfor %}{% endif -%}

{% if exists("protectedSignals") %}## Protected シグナル

{% for child in protectedSignals %}### {{child.name}}

{{ render("member_details", child) }}
{% endfor %}{% endif -%}

{% if exists("publicEvents") %}## イベント

{% for child in publicEvents %}### {{child.name}}

{{ render("member_details", child) }}
{% endfor %}{% endif -%}

{% if exists("protectedEvents") %}## Protected イベント

{% for child in protectedEvents %}### {{child.name}}

{{ render("member_details", child) }}
{% endfor %}{% endif -%}

{% if exists("publicJavaenumconstants") %}## 列挙定数

{% for child in publicJavaenumconstants %}### {{child.name}}

{{ render("member_details", child) }}
{% endfor %}{% endif -%}

{% if exists("publicFunctions") %}## 関数

{% for child in publicFunctions %}### {{child.name}}

{{ render("member_details", child) }}
{% endfor %}{% endif -%}

{% if exists("protectedFunctions") %}## Protected 関数

{% for child in protectedFunctions %}### {{child.name}}

{{ render("member_details", child) }}
{% endfor %}{% endif -%}

{% if exists("publicProperties") %}## プロパティ

{% for child in publicProperties %}### {{child.name}}

{{ render("member_details", child) }}
{% endfor %}{% endif -%}

{% if exists("protectedProperties") %}## Protected プロパティ

{% for child in protectedProperties %}### {{child.name}}

{{ render("member_details", child) }}
{% endfor %}{% endif -%}

{% if exists("publicAttributes") %}## 属性

{% for child in publicAttributes %}### {{child.name}}

{{ render("member_details", child) }}
{% endfor %}{% endif -%}

{% if exists("protectedAttributes") %}## Protected 属性

{% for child in protectedAttributes %}### {{child.name}}

{{ render("member_details", child) }}
{% endfor %}{% endif -%}

{% if exists("friends") %}## フレンド

{% for child in friends %}### {{child.kind}} {{child.name}}

{{ render("member_details", child) }}
{% endfor %}{% endif -%}
