{% if exists("brief") and kind != "enum" %}{{brief}}
{% endif -%}

{% if exists("details") and kind != "enum" %}
{# #### 詳細 #}{# details のタイトルは表示しない。brief に 続けて出力する。 #}

{{details}}

{% endif -%}

{% if exists("paramList") %}
 #### 引数

{% for param in paramList %}* {{param.name}} {{param.text}}
{% endfor %}
{% endif -%}

{% if exists("returnsList") %}
 #### 戻り値

{% for param in returnsList %}##### {{param.name}} {{param.text}}
{% endfor %}
{% endif -%}

{% if exists("exceptionsList") %}
 #### 例外

{% for param in exceptionsList %}##### {{param.name}} {{param.text}}
{% endfor %}
{% endif -%}

{% if exists("templateParamsList") %}
 #### テンプレート引数

{% for param in templateParamsList %}##### {{param.name}} {{param.text}}
{% endfor %}
{% endif -%}

{% if exists("deprecated") %}
 #### 非推奨

{{deprecated}}
{% endif -%}

{% if exists("see") %}
 #### 参照

{% if length(see) == 1 %}{{first(see)}}{% else %}

{% for item in see %}##### {{item}}
{% endfor %}{% endif %}
{% endif -%}

{% if exists("returns") %}
 #### 戻り値

{% if length(returns) == 1 %}{{first(returns)}}{% else %}

{% for item in returns %}##### {{item}}
{% endfor %}{% endif %}
{% endif -%}

{% if exists("authors") %}
 #### 作者

{% if length(authors) == 1 %}{{first(authors)}}{% else %}

{% for item in authors %}##### {{item}}
{% endfor %}{% endif %}
{% endif -%}

{% if exists("version") %}
 #### バージョン

{% if length(version) == 1 %}{{first(version)}}{% else %}

{% for item in version %}##### {{item}}
{% endfor %}{% endif %}
{% endif -%}

{% if exists("since") %}
 #### 導入バージョン

{% if length(since) == 1 %}{{first(since)}}{% else %}

{% for item in since %}##### {{item}}
{% endfor %}{% endif %}
{% endif -%}

{% if exists("date") %}
 #### 日付

{% if length(date) == 1 %}{{first(date)}}{% else %}

{% for item in date %}##### {{item}}
{% endfor %}{% endif %}
{% endif -%}

{% if exists("note") %}
 #### 注記

{% if length(note) == 1 %}{{first(note)}}{% else %}

{% for item in note %}##### {{item}}
{% endfor %}{% endif %}
{% endif -%}

{% if exists("bugs") %}
 #### バグ

{% if length(bugs) == 1 %}{{first(bugs)}}{% else %}

{% for item in bugs %}##### {{item}}
{% endfor %}{% endif %}
{% endif -%}

{% if exists("tests") %}
 #### テスト

{% if length(tests) == 1 %}{{first(tests)}}{% else %}

{% for item in tests %}##### {{item}}
{% endfor %}{% endif %}
{% endif -%}

{% if exists("todos") %}
 #### TODO

{% if length(todos) == 1 %}{{first(todos)}}{% else %}

{% for item in todos %}##### {{item}}
{% endfor %}{% endif %}
{% endif -%}

{% if exists("warning") %}
 #### 警告

{% if length(warning) == 1 %}{{first(warning)}}{% else %}

{% for item in warning %}##### {{item}}
{% endfor %}{% endif %}
{% endif -%}

{% if exists("pre") %}
 #### 事前条件

{% if length(pre) == 1 %}{{first(pre)}}{% else %}

{% for item in pre %}##### {{item}}
{% endfor %}{% endif %}
{% endif -%}

{% if exists("post") %}
 #### 事後条件

{% if length(post) == 1 %}{{first(post)}}{% else %}

{% for item in post %}##### {{item}}
{% endfor %}{% endif %}
{% endif -%}

{% if exists("invariant") %}
 #### 不変条件

{% if length(invariant) == 1 %}{{first(invariant)}}{% else %}

{% for item in invariant %}##### {{item}}
{% endfor %}{% endif %}
{% endif -%}

{% if exists("remark") %}
 #### 備考

{% if length(remark) == 1 %}{{first(remark)}}{% else %}

{% for item in remark %}##### {{item}}
{% endfor %}{% endif %}
{% endif -%}

{% if exists("attention") %}
 #### 注意

{% if length(attention) == 1 %}{{first(attention)}}{% else %}

{% for item in attention %}##### {{item}}
{% endfor %}{% endif %}
{% endif -%}

{% if exists("rcs") %}
 #### RCS

{% if length(rcs) == 1 %}{{first(rcs)}}{% else %}

{% for item in rcs %}##### {{item}}
{% endfor %}{% endif %}
{% endif -%}

{% if exists("reimplements") %}
 #### 再実装

[{{reimplements.fullname}}]({{reimplements.url}})

{% endif -%}

{% if exists("reimplementedBy") %}
 #### 派生クラスの実装

{% for impl in reimplementedBy %}[{{impl.fullname}}]({{impl.url}}){% if not loop.is_last %}, {% endif %}{% endfor %}

{% endif -%}

{% if exists("par") %}
{% for item in par %}{% if kind in ["class", "struct"] %}## {{item}}{% else %}#### {{item}}{% endif %}

{% endfor %}
{% endif -%}

{% if exists("inbody") %}
{{inbody}}

{% endif -%}

{% if exists("copyright") %}
 #### 著作権

{% if length(copyright) == 1 %}{{first(copyright)}}{% else %}

{% for item in copyright %}##### {{item}}
{% endfor %}{% endif %}
{% endif -%}
