{% include "header" %}

{% if exists("publicAttributes") %}
{% if length(publicAttributes) > 0 %}
```{{language}}
{{kind}} {{name}} {
{% for param in publicAttributes %}    {{param.typePlain}} {{param.name}};
{% endfor %}}
```
{% endif %}
{% endif %}

{% include "details" %}

{% include "class_members_details" -%}

{% include "footer" %}
