{% include "header" -%}

{% include "breadcrumbs" -%}

{% if exists("brief") or hasDetails %}## 概要

{% endif -%}
{% include "details" -%}

{# Markdown 側で目次を生成するため、テーブルは出力しない #}
{#% include "nonclass_members_tables" -%#}

{% include "nonclass_members_details" -%}

{% include "footer" %}
